export POSTGRES_HOST=localhost
export POSTGRES_PORT=5433
export POSTGRES_DB=3dpmp
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export REDIS_URL=redis://localhost:6379/0
export CELERY_BROKER_URL=redis://localhost:6379/0

# Email Configuration (Gmail SMTP)
export EMAIL_HOST_USER=lacandstudio@gmail.com
export EMAIL_HOST_PASSWORD=gzxnpzwmunlckfnw
export DEFAULT_FROM_EMAIL=lacandstudio@gmail.com
